.file-empty {
  height: calc(100% - 8px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    max-height: 400px;
    -webkit-user-drag: none;
  }

  div {
    position: relative;
    top: -60px;
    text-align: center;
    line-height: 1.75;
    color: var(--gray9);
  }
}
