.img-list {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.img-list-item {
  --item-h: 32px;
  padding-inline: 8px;
  border-radius: 4px;
  border: 1px solid var(--gray3);
  height: var(--item-h);
  background-color: #fff;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 40px 80px 80px 80px;
  gap: 13px;

  .img-path {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .img-button {
    button {
      display: grid;
      place-items: center;
      width: 100%;
      height: calc(var(--item-h) - 10px);
      border-radius: 4px;

      &:hover {
        background-color: var(--gray3);
      }
      &:active {
        background-color: var(--gray4);
      }
    }
  }
  .img-size {
  }
  .img-compress {
  }
  .img-percent {
    display: flex;
    align-items: center;
    gap: 2px;
    svg {
      width: 15px;
      height: 15px;
    }
  }

  .compressing {
    // width: 12px;
    // height: 12px;
    animation: var(--animation-spin);
  }
}
