:root {
	--h-header: 46px;
	--w-sidebar-min: 180px;
	--w-sidebar-max: 240px;
}

* {
	user-select: none;
	cursor: default;
}

html,
body {
	font-family:
		'Inter Variable',
		system-ui,
		—apple-system,
		Segoe UI,
		Rototo,
		Helvetica,
		Arial,
		sans-serif;
	-webkit-font-smoothing: antialiased;
}

.draggable {
	-webkit-app-region: drag;
}

.no-drag {
	-webkit-app-region: no-drag;
}
