@import "@radix-ui/colors/gray.css";

* {
  user-select: none;
  cursor: default;
}

:root {
  -webkit-font-smoothing: antialiased;

  --h-title-bar: 24px;
  --w-sidebar: 240px;
  --client-border: 8px;
}

html,
body {
  height: 100%;
}

.drag {
  -webkit-app-region: drag;
}

.drag-none {
  -webkit-app-region: no-drag;
}

#root {
  height: 100%;
}

#app {
  padding-right: var(--client-border);
  padding-bottom: var(--client-border);
  background-color: var(--gray-2);
  height: 100%;
  display: grid;
  grid-template-columns: var(--w-sidebar) 1fr;
  grid-template-rows: var(--h-title-bar) 1fr;
  grid-template-areas:
    "titlebar titlebar"
    "sidebar content";
}

#sidebar {
  width: 240px;
  grid-area: sidebar;
}

#content {
  background-color: #fff;
  grid-area: content;
  box-shadow: 0 0 4px var(--gray-6);
  border-radius: 5px;
}

#titlebar {
  height: var(--h-title-bar);
  grid-area: titlebar;
}
