.scroll-area-root {
  overflow: hidden;
  --scrollbar-size: 10px;
}

.scroll-area-viewport {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.scroll-area-scrollbar {
  display: flex;
  user-select: none;
  touch-action: none;
  padding: 2px;
  background: transparent;
  // transition: background 160ms ease-out;

  &[data-orientation="vertical"] {
    width: var(--scrollbar-size);
  }
}

.scroll-area-thumb {
  flex: 1;
  background: var(--black-a7);
  border-radius: var(--scrollbar-size);
  position: relative;

  &:hover {
    background: var(--black-a10);
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-width: 44px;
    min-height: 44px;
  }
}
