.window-controller {
  position: absolute;
  right: 0;
  top: 0;
  display: grid;
  grid-template-columns: repeat(3, 46px);

  button {
    width: 100%;
    height: 34px;
    display: grid;
    place-items: center;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  button:not(.close-button):hover {
    background-color: var(--gray4);
  }
  button:not(.close-button):active {
    background-color: var(--gray5);
  }

  .close-button:hover {
    background-color: #e81123;
    color: #fff;
  }
  .close-button:active {
    background-color: #f16f71;
    color: #fff;
  }
}
