.configure {
  padding: 12px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;

  &__item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 6px;

    label,
    legend {
      font-weight: 500;
    }

    .radio-group {
      display: flex;
      align-items: center;
      gap: 15px;

      label {
        font-weight: 400;
        display: inline-flex;
        align-items: center;
        gap: 4px;
      }
    }

    .select-trigger {
      &:focus-within {
        border-color: var(--border-color-active);
        outline-width: 2px;
        outline-color: var(--outline-color-active);
      }
      &:active,
      &:hover {
        border-color: var(--border-color);
      }
    }
  }
}
