.workbench {
  .space-head {
    border-radius: 8px;
    margin-inline: 12px;
    margin-block-end: 8px;
    padding-inline: 4px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 500;
    background-color: var(--gray3);
    outline: 0 solid transparent;
    border: 1px solid var(--gray3);
    transition: all 0.2s var(--ease-1);

    &-icon {
      width: 28px;
      height: 28px;
      display: grid;
      place-items: center;
      border-width: 2px;
      border-style: dashed;
      border-color: transparent;
      border-radius: 8px;

      &:hover {
        border-color: var(--gray7);
        background-color: var(--gray6);
      }
    }

    &-input {
      width: 100%;
      height: calc(var(--size-6) + 8px);
      line-height: calc(var(--size-6) + 8px);
      font-weight: 600;
      border: none;
      background-color: transparent;

      &:hover,
      &:focus-visible {
        outline: none;
      }
    }

    &:hover,
    &:focus-within,
    &__active {
      outline-width: 2px;
      outline-color: var(--orange5);
      background: #fff;

      .space-head-icon {
        border-color: var(--gray8);
      }
    }

    &:active {
      outline-width: 0 !important;
      outline-color: transparent;
    }

    &:is(:focus-within) {
      outline-width: 2px;
      outline-color: var(--orange5);
      border-color: var(--orange7);
    }
  }

  .space-list {
    padding-inline: 12px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;

    .space-item {
      aspect-ratio: 1 / 1;
      display: grid;
      place-items: center;
      border: 2px solid var(--gray4);
      border-radius: 8px;
      position: relative;
      transition: scale 0.2s var(--ease-5);

      &:active {
        scale: 0.95;
      }

      &__active {
        border-color: var(--orange7);
      }

      &:hover {
        .del-space {
          display: grid;
        }
      }

      .del-space {
        display: none;
        z-index: 10;
        position: absolute;
        top: -6px;
        right: -6px;
        background-color: #fff;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid var(--gray6);
        place-items: center;
        transition: scale 0.2s var(--ease-5);

        &-icon {
          width: 8px;
          height: 8px;
        }

        &:active {
          scale: 1.1;
        }
      }
    }

    .space-plus {
      border-style: dashed;
    }
  }
}
