.workbench {
  .space-head {
    border-radius: 8px;
    margin-inline: 12px;
    margin-block-end: 8px;
    padding-inline: 4px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 500;
    background-color: var(--gray-3);
    outline: 0 solid transparent;
    border: 1px solid var(--gray-3);
    transition: all 0.2s var(--ease-1);

    &-icon {
      width: 28px;
      height: 28px;
      display: grid;
      place-items: center;
      border: 2px dashed transparent;
      border-radius: 8px;

      &:hover {
        background-color: var(--gray-3);
      }
    }

    &-input {
      width: 100%;
      height: calc(var(--size-6) + 8px);
      line-height: calc(var(--size-6) + 8px);
      font-weight: 600;
      padding-inline-start: 0;
      border: none;
      background-color: transparent;

      &:hover,
      &:focus-visible {
        outline: none;
      }
    }

    &:hover,
    &:focus-within {
      .space-head-icon {
        border-color: var(--border-color);
      }
    }
    .space-head-icon:where(:hover) {
      background-color: var(--gray-2);
    }
    .space-head-icon:where(:active) {
      background-color: var(--gray-3);
    }

    &:is(:hover) {
      background-color: #fff;
      outline-width: 2px;
      outline-color: var(--outline-color-active);
      border-color: var(--border-color);
    }

    &:where(:focus-within) {
      background-color: #fff;
      outline-width: 2px;
      border-color: var(--border-color-active);
      outline-color: var(--outline-color-active);
    }

    &:is(:active) {
      outline-width: 0;
      outline-color: transparent;
      border-color: var(--border-color);
    }
  }

  .space-list {
    padding-inline: 12px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;

    .space-item {
      aspect-ratio: 1 / 1;
      display: grid;
      place-items: center;
      border: 2px solid var(--gray-4);
      border-radius: 8px;
      position: relative;
      transition: scale 0.2s var(--ease-5);

      &:active {
        scale: 0.95;
      }

      &__active {
        border-color: var(--orange-7);
      }

      &:hover {
        .del-space {
          display: grid;
        }
      }

      .del-space {
        display: none;
        z-index: 10;
        position: absolute;
        top: -6px;
        right: -6px;
        background-color: #fff;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid var(--gray-6);
        place-items: center;
        transition: scale 0.2s var(--ease-5);

        &-icon {
          width: 8px;
          height: 8px;
        }

        &:active {
          scale: 1.1;
        }
      }
    }

    .space-plus {
      border-style: dashed;
    }
  }
}
