.workbench {
  .space-head {
    border-radius: 8px;
    margin-inline: 12px;
    margin-block-end: 8px;
    padding: 4px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 500;
    background-color: var(--gray3);
    outline-color: transparent;
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
    transition: outline-offset 145ms var(--ease-2),
      outline-color 145ms var(--ease-2);

    &-icon {
      width: 28px;
      height: 28px;
      display: grid;
      place-items: center;
      border-width: 2px;
      border-style: dashed;
      border-color: transparent;
      border-radius: 8px;

      &:hover {
        border-color: var(--gray7);
        background-color: var(--gray6);
      }
    }

    &-input {
      width: 100%;
      font-weight: 600;

      &::placeholder {
        color: var(--gray8);
      }
    }

    &:hover,
    &:focus-within,
    &__active {
      background: var(--gray4);

      .space-head-icon {
        border-color: var(--gray8);
      }
    }

    &:focus-within,
    &__active {
      outline-color: var(--gray12);
      outline-offset: 0;
    }

    &:active {
      outline-offset: 2px;
    }
  }

  .space-list {
    padding-inline: 12px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;

    .space-item {
      aspect-ratio: 1 / 1;
      display: grid;
      place-items: center;
      border: 2px solid var(--gray4);
      border-radius: 8px;
      position: relative;
      transition: scale 0.2s var(--ease-5);

      &:active {
        scale: 0.95;
      }

      &__active {
        border-color: var(--gray12);
      }

      &:hover {
        .del-space {
          display: grid;
        }
      }

      .del-space {
        display: none;
        z-index: 10;
        position: absolute;
        top: -6px;
        right: -6px;
        background-color: #fff;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid var(--gray6);
        place-items: center;
        transition: scale 0.2s var(--ease-5);

        &-icon {
          width: 8px;
          height: 8px;
        }

        &:active {
          scale: 1.1;
        }
      }
    }

    .space-plus {
      border-style: dashed;
    }
  }
}
