.sidebar {
  padding-inline: var(--client-border);

  .workspace_input {
    height: 36px;
    padding-inline: 12px;
    background-color: var(--gray-4);
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & input[type="text"] {
      height: 100%;
    }
  }
}
