.showcase {
  width: min(100%, 1020px);
  margin-inline: auto;
  padding-block: var(--size-10);
}
.title {
  text-align: center;
  font-size: clamp(1.5rem, 5vw, 2rem);
  margin-block-end: var(--size-8);
}

.double {
  margin-block-start: var(--size-3);
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--size-3);
}

@media (width >= 768px) {
  .double {
    grid-template-columns: repeat(2, 1fr);
  }
}
