@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/white-alpha.css";
@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/orange.css";

@import "@fontsource-variable/inter/index.css";

@import "open-props/easings.min.css";
@import "open-props/animations.min.css";
@import "open-props/sizes.min.css";
@import "open-props/borders.min.css";

* {
  user-select: none;
  cursor: default;
}

:root {
  --w-aside: 240px;
  --h-drag: 50px;
  --border-color: var(--gray-5);
  --border-color-active: var(--orange-7);
  --outline-color-active: var(--orange-5);

  font-family: "Inter Variable", system-ui, —apple-system, Segoe UI, Rototo,
    Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;

  color: var(--gray-12);
  background-color: var(--gray-2);
}

.drag {
  -webkit-app-region: drag;
}

.drag-none {
  -webkit-app-region: no-drag;
}

input[type="number"] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}

:where(input[type="number"], input[type="text"], .select-trigger) {
  height: var(--size-6);
  line-height: var(--size-6);
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: var(--radius-2);
  padding-inline: var(--size-2);
  outline: 0 solid transparent;
  transition: all 0.2s var(--ease-1);
}
:where(input[type="number"], input[type="text"], .select-trigger):hover {
  outline-width: 2px;
  outline-color: var(--outline-color-active);
}
:where(input[type="number"], input[type="text"], .select-trigger):active {
  outline-width: 0;
  outline-color: transparent;
}
:where(input[type="number"], input[type="text"], .select-trigger):is(
    :hover,
    :active
  ) {
  border-color: var(--border-color);
}
:where(input[type="number"], input[type="text"], .select-trigger):where(
    :focus-visible
  ) {
  border-color: var(--border-color-active);
  outline-width: 2px;
  outline-color: var(--outline-color-active);
}

input::placeholder {
  color: var(--gray-8);
}

:where(input[type="radio"]) {
  all: revert;
  margin: 0;
  accent-color: var(--orange-7);
}
