.slider-root {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 100%;

  &[data-orientation="horizontal"] {
    height: 20px;
  }
}

.slider-track {
  background-color: var(--blackA5);
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;

  &[data-orientation="horizontal"] {
    height: 3px;
  }
}

.slider-range {
  position: absolute;
  background-color: var(--blackA12);
  border-radius: 9999px;
  height: 100%;
}

.slider-thumb {
  display: block;
  width: 18px;
  height: 18px;
  background-color: white;
  box-shadow: 0 2px 8px var(--blackA7);
  border-radius: 10px;

  &:hover {
    box-shadow: 0 0 0 5px var(--blackA5);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 5px var(--blackA8);
  }
}
