.aside {
  background: var(--gray1);
  border-right: 1px solid var(--gray3);
  display: grid;
  grid-template-rows: var(--h-drag) 1fr;

  .aside-body {
    display: grid;
    grid-template-rows: min-content 1fr;
    height: calc(100vh - var(--h-drag));
  }

  .brand {
    padding-inline: 8px;
    height: var(--h-drag);
    display: flex;
    align-items: center;
    gap: 8px;

    img {
      width: 20px;
    }
  }
}
