.aside {
  background: var(--gray1);
  border-right: 1px solid var(--gray3);
  display: grid;
  grid-template-rows: var(--h-drag) 1fr;

  .aside-body {
    display: grid;
    grid-template-rows: min-content 1fr;
    height: calc(100vh - var(--h-drag));
  }
}
