.titlebar {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.window-ctrl {
  display: grid;
  grid-template-columns: repeat(3, 28px);

  & button {
    display: grid;
    place-items: center;

    & svg {
      width: 15px;
      height: 15px;
      color: var(--gray-9);

      &:hover {
        color: var(--gray-12);
      }
    }
  }
}
